@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
	background: #000;
	margin-top: 44px;
	background-image: url(https://s27.postimg.org/et58do0z7/neon_heart_rate_monitor_b1_xyc_ws_S0000.jpg);
	background-size: 125%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

canvas {
	cursor: crosshair;
	display: block;
}
